<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>230137702463-6t36qt5jcjqf8ffr0lhmrbh0ifu5ifhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230137702463-6t36qt5jcjqf8ffr0lhmrbh0ifu5ifhq</string>
	<key>API_KEY</key>
	<string>AIzaSyBKWiAM0-3qXJFWkqcc5u4PIPMVkKNNzjo</string>
	<key>GCM_SENDER_ID</key>
	<string>230137702463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.middleburycs466.ShareToWear</string>
	<key>PROJECT_ID</key>
	<string>sharetowear-1f221</string>
	<key>STORAGE_BUCKET</key>
	<string>sharetowear-1f221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:230137702463:ios:8bf1c9bea8e702c3</string>
	<key>DATABASE_URL</key>
	<string>https://sharetowear-1f221.firebaseio.com</string>
</dict>
</plist>
